
//Video
$va-player-color: #2a2a2a;

//Controls section
$va-controls-bg: #2a2a2a;
$va-controls-height: 40px;
$va-controls-padding-left: 4px;
$va-controls-padding-right: 4px;

$va-controls-time-color: #fff;
$va-controls-time-font-family: Roboto,sans-serif;

$va-button-height: 32px;
$va-button-width: 32px;
$va-button-padding: 4px;
$va-button-font-size: 24px;
$va-button-text-color: #fff;
$va-button-margin-left: 4px;
$va-button-hover-color: #f90;
$va-button-hover-border-radius: 3px;


//Range Input
$va-range-input-track-width: 114px;
$va-range-input-track-height: 6px;
$va-range-input-track-border-radius: 3px;
$va-range-input-track-bg: #ccc;

$va-range-input-fill-bg: #fff;  

$va-range-input-thumb-size: 14px;
$va-range-input-thumb-bg:#f90;

//Progress
$var-progress-bar-height: 6px;
$va-progress-bar-bg: #202020;
$va-progress-bar-progress-bg: #f90;
$va-progress-bar-buffer-bg: #f90;
$va-progress-bar-buffer-opacity: 0.6;


//Loading
$va-loading-border-color: #f90;
$va-loading-width: 64px;
$va-loading-height: 64px;
$va-loading-border-size: 4px;

//ColorPicker
$va-color-picker-padding-right: 4px;
$va-color-picker-padding-left: 4px;
$va-color-picker-height: 32px;
$va-color-picker-border-radius: 20px;

$va-color-picker-item-height: 24px;
$va-color-picker-item-width: 24px;
$va-color-picker-item-border-radius: 50%;
$va-color-picker-item-margin-top: 4px;
$va-color-picker-item-margin-left: 4px;

//Annotations
$va-annotations-bg: #2A2A2A;
$va-annotations-height: 20px;
$va-annotations-item-height: 6px;
$va-annotations-item-min-width: 6px;
$va-annotations-item-border-radius: 6px;
$va-annotations-splitter-height: 2px;
$va-annotations-splitter-bg: #202020;


